.ccPlateEditor {

  :global {

    div[role="textbox"] {
      border: 2px dotted black;

      &:hover {
        border-color: #a0a0a0;
      }
    }


    .slate-mention_input {
      background-color: unset;
    }

    .slate-\@ {
      background-color: unset;
      padding-left: 0;
    }

    .slate-ImageElement-caption{
      font-size: 12px;
    }
    div[data-slate-editor="true"][contenteditable="false"] {
      .slate-ImageElement-img {
        cursor: unset;
      }

    }


    .slate-TableCellElement-content, .slate-td, .slate-tr, .slate-TableElement-tbody {
      background-color: rgba(65, 70, 80, 0.8);
    }

    div[data-slate-editor="true"][contenteditable="false"] {
      .slate-TableCellElement-content, .slate-td, .slate-tr, .slate-TableElement-tbody {
        background-color: unset;
      }
    }

    .slate-TableElement-tbody{
      vertical-align: top;
    }

    .slate-TableCellElement-handle {
      background-color: white;
    }

    div[data-slate-editor="true"][contenteditable="false"] {
      .slate-TableCellElement-handle {
        background-color: unset;
      }

      div[style*="cursor: col-resize"] {
        cursor: unset !important;
      }

      .slate-ImageElement-handleLeft, .slate-ImageElement-handleRight{
        cursor: unset;
        display:none;
      }
    }

    .slate-TableElement-tr:not(:first-child) {
      .slate-TableCellElement-content {
        padding-left: 0;
      }
    }



    .slate-TableCellElement-content {
      padding: 0 15px;
    }

    .slate-HeadingToolbar{
      position: sticky;
      top:0;
      z-index: 1;
      overflow: auto;
      background-color: #282e39;
      margin: 0;
      padding-bottom: 0;
      padding-left: 0;
    }

    .slate-p, .slate-li, [data-slate-node="text"] {
      font-size: 14px;
    }

    .slate-h1 {
        margin: 12px 0 0 0;
      & [data-slate-node=text] {
        font-size: 18px;
        font-weight: bold;
        color: #fbe629;
      }
    }

    .slate-h2 {
      margin: 8px 0 0 0;
      & [data-slate-node=text] {
        font-size: 15px;
        color: #fbe629
      }
    }

    .slate-h3 {
      margin: 1px 0 0 0;
      & [data-slate-node=text] {
        font-size: 12px;
        color: #fbe629
      }
    }

    .slate-h4 {
      margin: 1px 0 0 0;
      & [data-slate-node=text] {
        font-size: 11px;
        color: #fbe629
      }
    }

    .slate-a, .slate-a:visited {
      color: #70b7b7;
      text-decoration: underline;
    }
  }
}
