.ccPlateEditor {

  :global {

    div[role="textbox"] {
      border: 2px dotted black;

      &:hover {
        border-color: #a0a0a0;
      }
    }

    .slate-HeadingToolbar{
      position: sticky;
      top:0;
      z-index: 1;
      overflow: auto;
      background-color: #282e39;
      margin: 0;
      padding-bottom: 0;
      padding-left: 0;
    }

    .slate-p, .slate-li, [data-slate-node="text"] {
      font-size: 14px;
    }

    .slate-h1 {
      margin: 15px 0 0 0;
      font-size: 20px;
      font-weight: normal;
      color: #fbe629;
    }

    .slate-h3 {
      font-size: 16px;
      color: #fbe629
    }

    .slate-h3 {
      font-size: 14px;
      color: #fbe629
    }

    .slate-a, .slate-a:visited {
      color: #70b7b7;
      text-decoration: underline;
    }
  }
}
